@media (max-width: 500px) {
  ul {
    display: flex;
    align-self: center;
  }
}
/* #nav-bar {

} */

#header-img {
  width: 50px;
  border-radius: 50%;
}



#recuadro-video {
  padding-bottom: 3em;
}

.card-img-top {
  max-height: 100px;
}